<ul class="flex gap-4 p-4">
  <li><%= link_to "Code", "material/form_code" %></li>
  <li><%= link_to "HTML", "material/form_source" %></li>
  <li><%= link_to "Form Builder", "material/form_builder" %></li>
</ul>