<%= turbo_frame_tag "code" do %>
  <%= render 'material/nav' %>
  <div class="highlight overflow-x-scroll p-4">
    <pre>
      <%== syntax_highlighter(render(partial: "form", layout: false, locals: { user: @user }), "html") %>
    </pre>
  </div>
<% end %>