<div class="prose p-8">
  <h2>clues</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolores error ex fugiat placeat quam quod voluptatum? Alias, aut, consectetur doloremque illum labore molestiae mollitia nihil odio placeat quaerat voluptates.</p>
</div>