<div class="prose p-8">
  An example using a custom <code>FormBuilder</code> that use Shoelace Web Components.
  <ul>
    <li>Shoelace <%= link_to "website", "http://shoelace.style" %></li>
  </ul>
  <br>
  <strong>What to look for:</strong>
  <ul>
    <li>The <code>form_with</code> helper uses <code>builder: ShoelaceFormBuilder</code></li>
    <li>The <code>ShoelaceFormBuilder</code> class inherits from <code>ActionView::Helpers::FormBuilder</code> and overwrites a few methods.</li>
    <li>Different from the default <code>FormBuilder</code> this one provides a <code>switch</code> method to create toggleable switches</li>
    <li>The options passed to text-based helpers allow for icons to be used and positioned (prefix or suffix)</li>
    <li>Submitting an invalid form presents errors in line with a color conveying the error</li>
  </ul>
  <strong>Other notes</strong>
  <ul>
    <li>There is a bit of metaprogramming in the <code>ShoelaceFormBuilder</code> to reduce duplication but it is commented to explain what is going on</li>
    <li>You'll note that even though the field is invalid, shoelace will annotate it with <code>sl-valid</code>. This is expected behaviour due to the way Shoelace works.</li>
  </ul>
</div>